# Allow init to bind mount over vendor file
allow init vendor_file:file mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:file mounton;

# Init
allow init proc_sched_updown_migrate:file rw_file_perms;

# Init - USB fastcharge
allow init sysfs_fastcharge:dir search;
allow init sysfs_fastcharge:file rw_file_perms;
