# Allow settings app to display ZRAM usage
allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file r_file_perms;

# Allow PartsBin to toggle fastcharge
allow system_app sysfs_fastcharge:dir { search };
allow system_app sysfs_fastcharge:file { rw_file_perms };
